/*
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

ul ol {
  color: black;
  list-style: none;
  font-size: 0;
}

a {
  text-decoration: none;
}

/* ---- inicio del header ---- */
header {
  height: 130px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: whitesmoke;

}

.navbar__titulo {
  font-family: 'Lato', sans-serif;
}

.header__logo {
  display: flex;
  align-items: center;
  background-color: #5d4fff;
  height: 80px;
  padding-right: 24px;
  padding-left: 24px;
  background: rgb(170,165,221);
background: linear-gradient(90deg, rgba(170,165,221,1) 12%, rgba(93,79,255,1) 56%);
 
  font-family: 'Lato', sans-serif;
}

.header__nav {
  display: flex;

  gap: 20px;
  font-size: 18px;
  color: black;
  border-radius: 12px;
  height: 80px;
}

nav a:hover {
  color: white;
}

.turnoButtom {
  background-color: rgba(2, 6, 6, 0.103);
  color: black;
  align-self: center;
  font-size: 1rem;
  border-style: outset;
  margin-right: 40px;
  
}

.turnoButtom:hover{
  transform:  scale(1,1.5);
  box-shadow: 10px 10px 5px;
  background-color: #5d4fff;
}

main {
  overflow: hidden;
  height: 100%;
  padding: 20px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.accentText {
  color: #5d4fff
}

.caja1 {
  background-color: aliceblue;
  height: 80vh;
  background-image: url(../img/unidadontologica.jpg);
  background-position: center;
  background-size: cover;
}

.imagenFooter .cajaCarrusel {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.h2Main {
  padding: 20px;
  font-size: 1.8rem;
  border-radius: 20px;
  text-align: center;
  align-self: center;
  background-image: url(../aros\ decorativos.svg);
}

.fontCarousel {
  color: black;
}

.flechaCarousel {
  background-color: black;
}

.footerPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  background: linear-gradient(#5d4fff, #aaa5dd);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
  margin: 30px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

.imagenTarjeta {
  width: fit-content;
}

.mensajeTurno {
  padding: 20px;
  font-size: 1.6rem;
  border-radius: 20px;
  text-align: center;
  align-self: center;
}

.footerSecundario {
  background: rgb(170,165,221);
  background: linear-gradient(180deg, rgba(170,165,221,1) 12%, rgba(93,79,255,0.03361344537815125) 80%);
  border-bottom: 1px solid #efeef6;
  height: auto;
  padding: 30px 30px 30px 30px;
  align-items: center;
  align-self: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 10px 10px 5px;
}

.tamanoLetra {
  font-size: 1rem;
}

.imagenFooter {
  height: 30px;
  width: 30px;
  gap: 15px;
}

.imagenUnidad {
  height: 600px;
  flex-grow: 1;
  margin-left: auto;
}

.comesticaDental {
  background: rgb(170,165,221);
  background: linear-gradient(180deg, rgba(170,165,221,1) 12%, rgba(93,79,255,0.03361344537815125) 80%);
  padding: 20px;
  margin: 160px;
  font-size: 1.8rem;
  border-radius: 20px;
  text-align: center;
  justify-content: end;
}

.descripcionServicios {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-between;
  
  gap: 20px;
  padding: 10px 10px 10px 10px;
  height: 80px;

  height: auto;
  overflow: hidden;
}

.higieneOral {
  width: 80px;
  height: 100px;
  padding: 5px 5px 5px 5px;
  border: solid 3px black;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: 1rem;
  box-shadow: 10px 10px 5px;
}

.caja3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #003049;
  font-size: 1.8rem;
  background-color: aliceblue;
  flex-wrap: nowrap;
}

.caja4 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: nowrap;
  padding: 30px 30px 30px 30px;
  background-color: rgba(226, 148, 120, 0.662745098);
  height: 300px;
}

.caja5 {
  padding: 50px 50px 50px 50px;
  background-color: #83c5be;
  margin: 40px 40px 40px 40px;
  font-size: 1rem;
  text-align: center;
  align-items: bottom;
  overflow: hidden;
  width: auto;
}

.comesticaDentall {
  padding: 10px 10px 10px 10px;
  overflow: auto;
  border: solid 1px black;
}

.higieneOral {
  overflow: auto;
  border: solid 1px black;
  padding: 10px 10px 10px 10px;
  overflow: auto;
  border: solid 1px black;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(199, 224, 226, 0.1568627451);
}

.caja6 {
  height: 10vh;
  text-align: center;
  padding: 50px 50px 50px 50px;
  background-color: #83c5be;
  margin: 30px 30px 30px 30px;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.h2index {
  padding: 120px 90px 90px 120px;
  text-align: center;
  align-items: center;
}

.formularioTurno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #003049;
  font-size: 1.2rem;
  background-color: aliceblue;
  flex-wrap: nowrap;
  padding-left: 240px;
  padding-right: 240px;
}

.contactoTurno {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #003049;
  font-size: 1.8rem;
  background-color: aliceblue;
  flex-wrap: nowrap;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 24px;
  padding-left: 24px;
}

.caja2 {
  background-color: aliceblue;
  height: 100vh;
  background-image: url(../img/servicios.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portadaSomos {
  background-color: aliceblue;
  height: 100vh;
  background-image: url(../img/portada2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3Servicios {
  background-color: #E29578;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonSecundario {
  margin-right: 14px;
  padding: 20px;
  color: #181443;
  font-size: 14px;
  line-height: 1.143em;
  cursor: pointer;
}

/*----media quieri para mobile---*/

/*# sourceMappingURL=styles.css.map */