.contenedor__main
{
    .contenedor__valor {
    color: #5d4fff;

    .contenedor__titulo {
    padding: 20px;
    font-size: 1.8rem;
    border-radius: 20px;
    text-align: center;
    align-self: center;
    background-image: url(../aros\ decorativos.svg);

    .contenedor__imagen{
        background-color: aliceblue;
        height: 80vh;
        background-image: url(../img/unidadontologica.jpg);
        background-position: center;
        background-size: cover;
    }
}}}


